.container-fluid{
    position: fixed;
    top: 50px;
    background-color: lightgrey;
}
.jumbotron{
   margin: 10px 60px;
}
.corps{
    display: flex;
    background-color: white;
    font-size: 14px;
    position: fixed;
    top: 280px;
    margin: 10px 60px;
}
.bt{
    margin: 10px 0;
}