.carousel-item {
    background-image: url('https://livedemo00.template-help.com/wt_58884_v1/images/background-01-1920x870.jpg');
    background-size: cover;
    background-position: center;
    height: 681px; /* Hauteur du carrousel */
    position: fixed;
}
.afterNav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:#243238;
    height: 150px;
}

.btn-secondary:hover {
    background-color: #1b252c;
    border-color: #1b252c;

}
.titre{
    margin: 100px;
    text-align: center;
    font-size: 50px;
}
.bt2{
    text-align: center;
    margin: 50px;
}
.afterNav2{
    display: flex;
    justify-content:space-around;
}
.ct{
    background-color:#f6f6f6;
    padding: 50px;
}
.tr{
    margin: 50px;
    text-align: center;
}
