
.liste {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 15px 0;
    text-decoration: none;
}
.con{
    padding-left: 830px;
    position: fixed;
    top: 0;
}
.ins{
    padding-left: 895px;
}
.our{
    padding-left: 5px;

}
.prod{
    padding-left: 5px;


}
.fa-solid{
    padding-left: 20px;

}
/*pied de page */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

