ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}


.fa-solid{
    font-size: 25px;
    color: white;
    display: flex;
    align-content: center;

}
/*pied de page */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
/* Media queries for different breakpoints navbar*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .footer,ul,li a {
        background-color: #333;
        color: white;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .footer,ul,li a{
        background-color: firebrick;
        color: white;

    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .footer,ul,li a {
        background-color: lime;
        color: black;

    }
}

@media all and (max-width: 480px) {
    .footer,ul,li a {
        background-color: yellow;
        color: black;
    }
}





